body {
    background-color: #f9fcd4;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    position: fixed;
    z-index: 98;
    width: 100%;
    box-shadow: 0 5px 5px #3a3a3a;
}

.alert {
    position: fixed;
    z-index: 100;
    box-shadow: 0 5px 5px #3a3a3a;
    top: 0px;
    right: 100px;
}

.alert-two {
    position: fixed;
    z-index: 99;
    border-radius: 10px 5px;
    box-shadow: 0 5px 5px #3a3a3a;
    top: 100px;
    right: 10%;
    padding: 18px;
}

.alert-old {
    position: fixed;
    z-index: 99;
    border-radius: 10px 5px;
    box-shadow: 0 5px 5px #3a3a3a;
    top: 150px;
    left: 15%;
    padding: 18px;
}


.sign-p {
    margin-bottom: 0;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.blue-e {
    color: #007979;
}

.brown-mx {
    color: #797900;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.emx-bg {
    background-color: #797900;
}

.main-bg {
    background-color: #fcf5d5;
}

.main-padding {
    padding-top: 50px;
}

.card {
    border: none;
    background-color: transparent;
}

.card-img-top {
    border-radius: 10px 5px;
    box-shadow: 0 5px 5px #3a3a3a;
}

.card-title {
    margin-top: 5px;
}

.image-container {
    position: relative;
}

.image-flash-author {
    position: absolute;
    bottom: -3px;
    min-width: 30%;
    right: -5px;
    border-radius: 10px 5px;
    box-shadow: 0 5px 5px #3a3a3a;
    background-color: #007979;
}

.image-flash-event-date {
    position: absolute;
    top: -3px;
    min-width: 30%;
    left: -5px;
    border-radius: 10px 5px;
    box-shadow: 0 5px 5px #3a3a3a;
    background-color: #797900;
}

.author {
    color: white;
    margin: 2px;
    padding-left: 5%;

}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 15vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 95;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 5%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.confirm-delete {
    
}

.btn-confirm {
    background-color: #fff;
    color: #bb2323;
    
    display: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.btn-confirm:hover,
.btn-confirm:active {
    background-color: #bb2323;
    color: #fff;
}