{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <h3>Edit Sign Up</h3>
                <hr>
                <form method="post" action="{% url 'edit_signup' slug=slug signup_id=signup_id %}">
                    {% csrf_token %}
                    <!-- Fields for first name and last name -->
                    <p>Name: {{ form.fname }}{{ form.lname }}</p>
                    <!-- Start number (not editable) -->
                    <p>Start Number: <strong>{{ form.instance.start_number }}</strong></p>
                    <!-- Fields for transponder number -->
                    <p>Transponder no.: {{ form.transponder }}</p>
                    <button class="btn btn-signup btn-lg" onclick="goBack()">Cancel</button>
                    <button type="submit" class="btn btn-signup btn-lg">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}
