{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% now "Y-m-d" as today %}

<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-6 masthead-text">
                <!-- Event title -->
                <h1 class="post-title">{{ event.title }}</h1>
                <!-- Show scheduled event date, author and the events's created date. -->
                <p class="post-subtitle">Event date: <strong>{{event.event_date}}</strong><i> created by:
                        {{event.author}} on {{ event.created_on }}</i></p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in event.featured_image.url %}
                <img class="card-img-top" src="{% static 'images/emx.webp' %}" alt="dirtbike rider revving away">
                {% else %}
                <img class="card-img-top" src="{{ event.featured_image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <!-- The event content goes inside the card-text. -->
                <p class="card-text ">{{event.content | safe}}</p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'event_like' event.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="emxevent_id" value="{{ event.slug }}" class="btn-like">
                                    <i class="fas fa-heart"></i>
                                </button>
                                {% else %}
                                <button type="submit" name="emxevent_id" value="{{ event.slug }}" class="btn-like">
                                    <i class="far fa-heart"></i>
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary">
                                <i class="far fa-heart"></i>
                            </span>
                            {% endif %}
                            <span class="text-secondary">
                                {{event.number_of_likes}}
                            </span>
                        </strong>
                    </div>
                    <!-- View how many approved sign ups and total sign ups -->
                    <div class="col-3">
                        {% with signed_up.count as total_signed_ups %}
                        <strong class="text-secondary">
                            <i class="far fa-clipboard"></i>
                            {{total_signed_ups}} / {{event.signed_up.count}}
                        </strong> approved sign ups.
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h4>Approved participants:</h4>
            <div class="card-body">
                <!-- Iterate through each sign_up in signed_up -->
                {% for sign in signed_up %}
                <div class="sign-p">
                    <!-- Full name -->
                    <strong>{{sign.first_name}} {{sign.last_name}}</strong>
                    <!-- Start number of the rider -->
                    #<strong>{{ sign.start_number }}</strong>
                    <!-- Username and signed up date. -->
                    - signed up by <i>{{sign.name}} - {{sign.created_on}}</i>

                    {% if user.is_authenticated and user.username == sign.name %}
                    <!-- Edit link -->
                    <span>
                        <a href="{% url 'edit_signup' slug=event.slug signup_id=sign.id %}" class="btn btn-link btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                    </span>
                    <!-- Form to handle deletion of sign up -->
                    <form class="d-inline" action="{% url 'delete_signup' event.slug sign.id %}" method="post"
                        id="delete-form-{{ sign.id }}">
                        {% csrf_token %}
                        <button type="button" class="btn btn-link btn-sm text-danger"
                            onclick="showConfirmation('{{ sign.id }}')">
                            <i class="fa fa-trash"></i>
                        </button>
                        <span id="confirmation-text-{{ sign.id }}" class="confirm-delete btn btn-confirm btn-lg"
                            onclick="confirmDelete('{{ sign.id }}')">Confirm
                            delete!</span>
                    </form>

                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3 ">
            <div class="card-body">

                <!-- Sign up form -->
                {% if signed %}
                <div class="alert-two alert-success" role="alert">
                    Your sign up is awaiting confirmation.
                </div>
                {% else %}
                {% if user.is_authenticated %}
                {% if event.event_date|date:"Y-m-d" >= today %}
                <h4>Sign up to the event:</h4>
                <p>Signing up as: <strong>{{user.username}}</strong></p>
                <form method="post" style="margin-top: 1.3em;">
                    {{sign_up_form | crispy}}
                    {% csrf_token %}
                    <small id="start-number-alert" class="text-danger">
                    </small><br>
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <div class="alert-old alert-warning" role="alert">
                    Sign up for this event has closed.
                </div>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Handle check for existing start numbers in apporved sign ups.
    $(document).ready(function () {
        $('#id_start_number').on('change', function () {
            var enteredStartNumber = $(this).val();
            var existingStartNumbers = $(this).data('existing-start-numbers').split(',');
            var startNumberMessage = $('#start-number-alert');

            if (enteredStartNumber !== null && existingStartNumbers.includes(enteredStartNumber)) {
                startNumberMessage.text('This start number is already taken.');
                $(this).val('');
            } else {
                startNumberMessage.text('');
            }
        });
    });

    function confirmDelete(signupId) {
        var confirmationText = document.getElementById('confirmation-text-' + signupId);

        // Submit the form
        document.getElementById('delete-form-' + signupId).submit();
    }

    function showConfirmation(signupId) {
        var confirmationText = document.getElementById('confirmation-text-' + signupId);

        // Show visibility of the confirmation text
        confirmationText.style.display = confirmationText.style.display === 'inline' ? 'none' : 'inline';
    }
</script>
{% endblock content %}